@model IEnumerable<VehicleRegister.Domain.DTO.ReservationsDTO.Response.GetAllReservationsDto>

@using Microsoft.AspNetCore.Http;
@using VehicleRegister.Client.Helpers;


@{
    ViewData["Title"] = "Index";

    var auth = SessionHelper.GetObjectFromJson<LoginModel>(Context.Session, "identity");

}


<h1>Service History</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclesRegisterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoMotivesName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehiclesRegisterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoMotivesName)
            </td>

            @if (auth != null)
            {
                if (auth.IsAdmin)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                }
            }

        </tr>
        }
    </tbody>
</table>
